[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
crud_app = "4NcUz8q7fAChF5RiAvcWQ6cFaZduXLQYiaVX2Fq4i2EC"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx mocha -t 1000000 -r ts-node/register tests/**/*.ts"
