[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.devnet]
crud_app = "ADoEaEXd75hq2KxJWDKc4zpmujqYLqaGG3qThW3c6bS3"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "npx mocha -t 1000000 -r ts-node/register tests/**/*.ts"

